@import url('https://fonts.googleapis.com/css?family=Cantarell|Kalam&display=swap');

* {
    font-family: 'Cantarell', sans-serif;
}

.jumbotron .display-4 {
    font-family: 'Kalam', cursive;

}

.row {
    flex-wrap: nowrap;
}

.container {
    max-width: 1000px;
}
